# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

env/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media
/staticfiles

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# pyenv
.python-version

# Coverage
htmlcov/
.coverage
.coverage.*

# Editor files
*.swp
*~

# Backup files
*.bak
